//Global Resets
img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: var(--sec-bgd-color);
}
