:root {
  // Text color
  --header-text-color: #ffffff;
  --primary-text-color: #000000;
  --footer-text-color: #545454;
  --accent-color: #ff6b08;
  --alert-text-color: #ff001b;
  --primary-bgrd-color: #ffffff;
  --sec-bgd-color: #e5e5e5;
  --third-bgd-color: #f7f7f7;
  --modal-props-color: #8c8c8c;
  // Fonts
  --main-font: 'Roboto', sans-serif;
}
