<section class='films-list container '>
    <div class="films-list__container  "></div>
    <div id='tui-pagination-container' class="pagination">
        <!-- <a class='pagination-link' href=''></a>
        <a id="first" class='arrow-first pagination-link selected' href=''>1</a>
        <div class='pagination-link tripledot'>
        </div>
        <a class='pagination-link' href=''>2</a>
        <a class='pagination-link' href=''>3</a>
        <a class='pagination-link' href=''>4</a>
        <a class='pagination-link' href=''>5</a>
        <a class='pagination-link' href=''>6</a>

        <div class='pagination-link tripledot'>
        </div>
        <a id="last" class='pagination-link' href=''>20</a>
        <a class='arrow-last pagination-link' href=''></a> -->

    </div>
</section>