<section class='films-list container '>
    <div class="films-list__container  "></div>
    <ul class='pagination'>
        <li class='pagination-item'><a class='pagination-link' href=''></a></li>
        <li class='pagination-item'><a class='pagination-link selected' href=''>1</a></li>
        <li class='pagination-item tripledot'><a class='pagination-link' href=''>...</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>14</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>15</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>16</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>17</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>18</a></li>
        <li class='pagination-item tripledot'><a class='pagination-link' href=''>...</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''>20</a></li>
        <li class='pagination-item'><a class='pagination-link' href=''></a></li>

    </ul>
</section>