<section class="film-container">
    <div class="container">
        <div class="card">
            <div class="card__pic">
                <img src="/images/card-pic.jpg" alt="card pic">
            </div>


            <div class="card__capture">
                <h3 class="card__title">
                    geryhund
                </h3>
                <p class="card__genre">
                    <span>Drama, Action</span> | <span>2020</span>
                </p>
            </div>
        </div>
        <div class="pagination">
            10 11 12 13
        </div>
    </div>
</section>