<header>
    <div class="hero container">
        <h2 class="hero__title">Filmoteka</h2>
        <nav class="hero__nav">
            <a href="index.html"><img src="/images/logo.svg" alt=""></a>
            <ul class="hero__nav-list">
                <li class="hero__nav-list-item">
                    <a href="index.html">home</a>
                </li>
                <li class="hero__nav-list-item active">
                    <a href="./">my library</a>
                </li>
            </ul>
        </nav>
        <form class="hero__form">
            <input class="hero__search-form" type="text" id="searchKeyWords" name="searchKeyWords"
                placeholder="Поиск фильмов" autofocus>
            <button type="submit" class="hero__form-button"></button>
        </form>
    </div>
</header>