.film-container {
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 28px;
  }
  .card {
    padding-top: 20px;

    @media screen and (min-width: 1024px) {
      padding-top: 32px;
    }
  }

  .card-pic {
    max-width: 280px;

    @media screen and (min-width: 768px) {
      max-width: 336px;
    }

    @media screen and (min-width: 1024px) {
      max-width: 309px;
    }
  }

  .card__title {
    padding-top: 10px;
    @include font(12px, 500, 14px, normal);
    color: var(--primary-text-color);
    text-transform: uppercase;
  }

  .card__genre {
    @include font(12px, 500, 16px, normal);
    color: var(--accent-color);
  }

  .pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      overflow: hidden;
      &:first-child {
        background-image: url(/images/arrow-left.svg);
        background-repeat: no-repeat;
        background-color: var(--third-bgd-color);
      }

      &:last-child {
        background-image: url(/images/arrow-right.svg);
        background-repeat: no-repeat;
        background-color: var(--third-bgd-color);
      }
    }
    &-link {
      padding: 20px 20px;
    }

    .selected {
      background-color: var(--accent-color);
    }

    .tripledot {
      display: none;

      @media screen and (min-width: 786px) {
        display: flex;
        align-items: center;
      }
    }
  }
}
