.footer {
  padding: 40px 30px;
  color: var(--footer-text-color);
  background-color: var(--third-bgd-color);
  @include font(14px, 400, 16px, normal);
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 30px 143px;
    display: flex;
    text-align: center;
    justify-content: center;
    @include font(16px, 400, 18.75px, normal);
  }

  .footer__auth {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      padding-top: 0;
    }
  }

  .heart-icon {
    margin: 0 10px;
    width: 14px;
    height: 14px;
    background: url(/images/heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
